server {
    listen 80;

    location /static/ {
        alias /etc/nginx/statics/;
    }

    location ~* ^/rate(.*) {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;

        resolver 127.0.0.11 ipv6=off;
        set $django_address django-webapp:8000;
        proxy_pass http://$django_address/rate$1$is_args$args;
    }
}