version: "{{ docker_compose.version }}"

services:
  {{ docker_compose.service_name }}:
    build: "{{ docker_compose.build_dir }}"
    volumes:
{% for volume in docker_compose.volumes %}
      - {{ volume }}
{% endfor %}
    ports:
      - "{{ external_port }}:{{ internal_port }}"
    networks:
      - {{ docker_compose.network_name }}